<!DOCTYPE html>
<html>
<head>
  <title>DePot</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
</head>
<body>
  <div class="container">
    <div class="navbar" id="topBar">
      <div class="navbar-inner">
        <a class="brand" href="#">DePot</a>
        <p class="navbar-text pull-left">Just store your photos!</p>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <div class="uploaderInformation">
          <legend>Uploader</legend>
          <% if(uploader) { %>
          <p>
            <img class="span12" src="https://api.twitter.com/1/users/profile_image?screen_name=<%= uploader.screen_name %>&size=original" />
            <span class="lead"><%= uploader.name %></span><br>
            <span class="small">@<a href="http://twitter.com/<%= uploader.screen_name %>"><%= uploader.screen_name %></a></span>
          </p>

          <% } else { %>
          <p>Anonymous user</p>
          <% } %>
        </div>
        <div class="imageInformation">
          <legend>Image</legend>
          <p>
            <span class="lead">Resolution</span><br>
            <span class="small"><%= metadata.width + 'x' + metadata.height %></span>
          </p>
          <p>
            <span class="lead">Image Format</span><br>
            <span class="small"><%= metadata.format %></span>
          </p>
          <p>
            <span class="lead">Size</span><br>
            <span class="small"><%= metadata.filesize %></span>
          </p>
        </div>
      </div>
      <div class="span9">
        <legend>Image</legend>
        <div class="centered">
          <img class="span12 borderImg" src="<%= filepath %>" />
        </div>
        <p class="messageForImage">
          <% if (message) { %>
          <span class="lead"><%= message %></span>
          <% } else { %>
          <span class="lead">No message</span>
          <% }%>
          <br><span class="small"><%= (new Date(timestamp)).toLocaleDateString() %></span>
        </p>
      </div>
    </div>
  </div>
</body>
</html>